@import "reset";
@import "variables";


  // -----------------header-------------------------
  .header-container{
      width: 100vw;
      margin: 0 auto;
      background-image: url(../IMG/Mobile/header.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  .header-menu{
      width: 100%;
      margin: 0 auto;
      padding: 5%;
      position: relative;
      #checkbox-menu{
          display: none;
      }
  }
  .toggle{
      clear: both;
      display: block;
      width: 100%;
      @include textStyle($secondFont, $subTitleSize, $secondFontWeight, 40px, $buttonColor);
      background-color: transparent;
      text-align: right;
      position: absolute;
      top: 20px;
      right: 5%;
  }
  #checkbox-menu:checked + label .header-list{
    height: 7rem;
    opacity: 1;
    visibility: visible;
    transition: all .5s linear;
  }
  .header-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 0;
      margin: 0;
      opacity: 0;
      visibility: hidden;
      transition: height .3s linear;
      a{
          @include textStyle($secondFont, $linkSize, $secondFontWeight, 19px, $colorLight);
          text-transform: uppercase;
      }
      .menu-link2, .menu-link3, .menu-link4, .menu-link5{
          display: block;
          margin-bottom: 10px;
      }
  }
  .header-logo{
      display: block;
      height: 30px;
      width: 44px;
      position: absolute;
      top: 20px;
      left: 5%;
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
  .menu-link6, .header-line, .menu-link7, .menu-link8{
      display: none;
  }
  .header-content{
      width: 100%;
      margin: 0 auto;
      margin-top: 14rem;
      padding-bottom: 18rem;
      .header-title{
      @include textStyle($mainFont, $numberSize2, $mainFontWeight, 35px, $mainColor);
      width: 100%;
      margin: 0 auto;
      text-align: center;
      }
      h1{
        @include textStyle($mainFont, $numberSize, $mainFontWeight, 46px, $mainColor);
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
      }
      .header-subtitle{
        @include textStyle($secondFont, $smallSize, $mainFontWeight, 24px, $colorLight);
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 45px;
      
    }
      .header-btn1{
          display: none;
      }
      .header-btn2{
          width: 140px;
          height: 50px;
          margin: 0 auto;
          margin-top: 45px;
          background-color: $buttonColor;
          a{
            display: block;
            @include textStyle($secondFont, $linkSize, $secondFontWeight, 50px, $colorLight);
            text-transform: uppercase;
            text-align: center;
          }
      }
  }


@media screen and (min-width: 576px){
    .header-container{
        min-width: 576px;
        .menu-link2, .menu-link3, .menu-link4, .menu-link5{
            margin-bottom: 20px;
            font-size: $middleSize;
        }
    }
}

@media screen and (min-width: 768px){
    .header-container{
        width: 100vw;
        margin: 0 auto;
        background-image: url(../IMG/BGR/header.png);
    }
    .header-menu{
        width: 100%;
        margin: 0 auto;
        padding: 5%;
        position: relative;
    }
    .toggle{
        display: none;
    }
    .header-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 0;
        opacity: 1;
        visibility: visible;
        a{
            @include textStyle($secondFont, $linkSize, $secondFontWeight, 19px, $colorLight);
            text-transform: uppercase;
        }
        .menu-link2, .menu-link3, .menu-link4, .menu-link5{
            display: block;
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
    .header-logo{
        display: block;
        height: auto;
        width: auto;
        position: absolute;
        top: 20px;
        left: 5%;
    }
    .menu-link6{
        display: block;
        margin-right: 20px;
    }
    .header-line{
        display: block;
        height: 50px;
        border-left: 1px solid $colorLight;
        margin-right: 20px;
    }
    .menu-link7{
        display: block;
        ul{
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            .header-tel{
                @include textStyle($secondFont, $smallSize, $secondFontWeight, 25px, $colorLight);
            }
            .header-tel-text{
                @include textStyle($secondFont, $linkSize, $mainFontWeight, 19px, $colorLight);
                width: 80%;
            }
        }
    }
    .menu-btn{
        display: block;
        width: 160px;
        height: 50px;
        background-color: $buttonColor;
        transition: all .4s linear;
        &:hover{
            transform: scale(1.1);
        }
        a{
            display: block;
            @include textStyle($secondFont, $linkSize, $secondFontWeight, 50px, $colorLight);
            text-transform: uppercase;
            text-align: center;
          }
    }
    .header-content{
        width: 50%;
        margin: 15rem 150px;
        .header-title{
        @include textStyle($mainFont, $reserveSize2, $mainFontWeight, 60px, $mainColor);
        width: 100%;
        margin: 0 auto;
        }
        h1{
          @include textStyle($mainFont, $H1size, $mainFontWeight, 91px, $mainColor);
          width: 100%;
          margin: 0 auto;
          margin-top: 10px;
        }
        .header-subtitle{
            @include textStyle($secondFont, $smallSize, $mainFontWeight, 24px, $colorLight);
          width: 100%;
          margin: 0 auto;
          margin-top: 10px;
          position: relative;
          &::before{
              content: " ";
              width: 60px;
              border-top: 2px solid $colorLight;
              position: absolute;
              top: 50%;
              left: 25%;
          }
          &::after{
            content: " ";
            width: 60px;
            border-top: 2px solid $colorLight;
            position: absolute;
            top: 50%;
            left: 65%;
        }
        }
        .header-btn1{
            display: block;
            width: 140px;
            height: 50px;
            margin: 0 auto;
            margin-top: 25px;
            background-color: $buttonColor;
            transition: all .4s linear;
            a{
              display: block;
              @include textStyle($secondFont, $linkSize, $secondFontWeight, 50px, $colorLight);
              text-transform: uppercase;
              text-align: center;
            }
            &:hover{
                transform: scale(1.1);
        }
        }
        .header-btn2{
            display: none;
        }
    }

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){

}