$mainFont: 'Tinos', serif;
$secondFont: 'Open Sans', sans-serif;
$thirdFont:  'Cookie', cursive;
$mainFontWeight: 400;
$secondFontWeight: 700;
$colorDark: #000000;
$colorLight: #FFFFFF;
$mainColor: #D67E35;
$infoColor: #BC9060;
$buttonColor: #FF7400;
$H1size: 5rem; 
$itleSize: 54px;
$reserveSize1: 52px;
$reserveSize2: 50px;
$numberSize: 2.5rem;
$numberSize2: 30px;
$subTitleSize: 26px;
$middleSize: 20px; 
$smallSize: 18px;
$textSize: 1rem;
$linkSize: 14px;
@mixin textStyle($Font, $Size, $Weight, $LH, $color){
    font-family: $Font;
    font-size:$Size;
    line-height:$LH;
    font-weight:$Weight;
    color: $color;
}